Repository fptgang/SWD392_8lind8ox, pull requests merged in 2025-03, with the labels that each got.

#44 fix open api spec + add controller
  backend/src/main/java/com/fptgang/backend/controller/BlindboxController.java
  backend/src/main/java/com/fptgang/backend/controller/StockKeepingUnitController.java
  backend/src/main/java/com/fptgang/backend/controller/ToyController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
  backend/src/main/java/com/fptgang/backend/repository/ToyRepos.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/ToyService.java
  backend/src/main/java/com/fptgang/backend/service/impl/BlindBoxServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ToyServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  openapi/model/transaction.yml
  openapi/path/sku-skuId.yml
  openapi/path/sku.yml
  openapi/path/toy-toyId.yml
  openapi/path/toy.yml
Labels: Backend

#47 add file
  backend/src/main/java/com/fptgang/backend/controller/VideoController.java
  backend/src/main/java/com/fptgang/backend/mapper/ToyMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/VideoMapper.java
  openapi/model/toy.yml
  openapi/model/video-blob.yml
  openapi/model/video.yml
Labels: Backend

#48 fix cors
  backend/src/main/java/com/fptgang/backend/controller/BlindboxController.java
  backend/src/main/java/com/fptgang/backend/controller/BrandController.java
Labels: Backend, Fix

#51 Fix gendb
  gendb/src/engine/model/Slot.ts
  gendb/src/engine/model/Transaction.ts
  gendb/src/engine/pool/account.ts
  gendb/src/engine/pool/transaction.ts
  gendb/src/engine/sim/action/checkout.ts
  gendb/src/engine/sim/action/createAccount.ts
  openapi/model/order-status-history.yml
Labels: Feature

#52 Fix auth and token handling in FE
  backend/src/main/java/com/fptgang/backend/config/WebConfig.java
  backend/src/main/java/com/fptgang/backend/service/impl/JwtServiceImpl.java
  backend/src/main/resources/application.properties
  frontend/public/locales/en/common.json
  frontend/src/App.tsx
  frontend/src/authProvider.ts
  frontend/src/components/dashboard/recentOrders/index.tsx
  frontend/src/components/pages/auth/components/login.tsx
  frontend/src/config/axios-config.ts
  frontend/src/config/openapi-config.tsx
  frontend/src/config/resources.tsx
  frontend/src/pages/brands/create.tsx
  frontend/src/pages/brands/edit.tsx
  frontend/src/pages/brands/list.tsx
  frontend/src/pages/brands/show.tsx
  frontend/src/pages/packs/create.tsx
  frontend/src/pages/packs/edit.tsx
  frontend/src/pages/packs/index.ts
  frontend/src/pages/packs/list.tsx
  frontend/src/pages/packs/show.tsx
  frontend/src/providers/access-control-provider.tsx
  frontend/src/providers/data-provider.tsx
  frontend/src/store/auth.ts
  frontend/src/store/index.ts
  frontend/src/utils/query-utils.ts
Labels: Feature

#53 Fix FE admin auth
  frontend/src/App.tsx
  frontend/src/components/order/status/index.tsx
Labels: Feature

#54 account drawer + notify
  backend/src/main/java/com/fptgang/backend/config/WebConfig.java
  backend/src/main/java/com/fptgang/backend/controller/NotificationController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/controller/VNPAYController.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/TransactionService.java
  backend/src/main/java/com/fptgang/backend/service/VNPAYService.java
  backend/src/main/java/com/fptgang/backend/service/impl/NotificationServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/VNPAYServiceImpl.java
  frontend/src/components/customer/header/NotificationPopover.tsx
  frontend/src/components/customer/header/customer-header.tsx
  frontend/src/pages/accounts/components/EditAccountDrawer.tsx
  frontend/src/pages/accounts/components/ShowAccountDrawer.tsx
  frontend/src/pages/accounts/list.tsx
Labels: Feature

#56 Add placing order
  backend/src/main/java/com/fptgang/backend/config/RedisConfiguration.java
  backend/src/main/java/com/fptgang/backend/config/VnPayConfig.java
  backend/src/main/java/com/fptgang/backend/controller/OrderController.java
  backend/src/main/java/com/fptgang/backend/controller/SalesController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/controller/VNPAYController.java
  backend/src/main/java/com/fptgang/backend/mapper/CartMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/SlotMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/TransactionMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/VoucherMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/sales/TrendingProductMapper.java
  backend/src/main/java/com/fptgang/backend/model/Slot.java
  backend/src/main/java/com/fptgang/backend/model/Transaction.java
  backend/src/main/java/com/fptgang/backend/model/Voucher.java
  backend/src/main/java/com/fptgang/backend/model/checkout/Cart.java
  backend/src/main/java/com/fptgang/backend/model/checkout/PlaceOrderResult.java
  backend/src/main/java/com/fptgang/backend/model/sales/TrendingProduct.java
  backend/src/main/java/com/fptgang/backend/repository/PromotionalCampaignRepos.java
  backend/src/main/java/com/fptgang/backend/repository/SalesRepos.java
  backend/src/main/java/com/fptgang/backend/repository/SalesReposImpl.java
  backend/src/main/java/com/fptgang/backend/service/OrderService.java
  backend/src/main/java/com/fptgang/backend/service/PaymentService.java
  backend/src/main/java/com/fptgang/backend/service/PromotionalCampaignService.java
  backend/src/main/java/com/fptgang/backend/service/SalesService.java
  backend/src/main/java/com/fptgang/backend/service/TransactionService.java
  backend/src/main/java/com/fptgang/backend/service/VNPAYService.java
  backend/src/main/java/com/fptgang/backend/service/impl/OrderServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/PaymentServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/PromotionalCampaignServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/SalesServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/VNPAYServiceImpl.java
  backend/src/main/resources/application.properties
  backend/src/test/PlaceOrderUsingInternalWallet.http
  frontend/src/pages/customer/landing/index.tsx
  frontend/src/store/index.ts
  gendb/src/engine/model/Slot.ts
  gendb/src/engine/model/Transaction.ts
  gendb/src/engine/model/Voucher.ts
  gendb/src/engine/pool/slot.ts
  gendb/src/engine/pool/transaction.ts
  gendb/src/engine/sim/action/checkout.ts
  gendb/src/engine/sim/action/createSet.ts
  gendb/src/engine/sim/action/verifyVideo.ts
  openapi/main.yml
  openapi/model/cart-item.yml
  openapi/model/cart.yml
  openapi/model/sales/trending-product.yml
  openapi/model/slot.yml
  openapi/model/transaction.yml
  openapi/model/voucher.yml
  openapi/path/order-orderId.yml
  openapi/path/order.yml
  openapi/path/sales/trending-products.yml
  openapi/path/transaction.yml
Labels: Feature

#58 Update Stats api
  backend/src/main/java/com/fptgang/backend/controller/StatController.java
  backend/src/main/java/com/fptgang/backend/repository/OrderDetailRepos.java
  backend/src/main/java/com/fptgang/backend/repository/OrderRepos.java
  backend/src/main/java/com/fptgang/backend/repository/OrderStatusHistoryRepos.java
  backend/src/main/java/com/fptgang/backend/service/StatService.java
  backend/src/main/java/com/fptgang/backend/service/impl/StatServiceImpl.java
Labels: Backend

#59 Fix blindbox campaign dto
  backend/compose.yaml
  backend/src/main/java/com/fptgang/backend/mapper/BlindBoxCampaignMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/ImageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/PromotionalCampaignMapper.java
  backend/src/main/java/com/fptgang/backend/model/BlindBoxCampaign.java
  backend/src/main/java/com/fptgang/backend/model/BlindBoxCampaignId.java
  gendb/src/engine/model/BlindBoxCampaign.ts
  gendb/src/engine/pool/blindbox_campaign.ts
  gendb/src/engine/sim/action/launchCampaign.ts
  openapi/model/blindbox-campaign.yml
Labels: Feature

#60 Feature/cookinghard
  backend/src/main/java/com/fptgang/backend/controller/OrderController.java
  backend/src/main/java/com/fptgang/backend/controller/ShippingInfoController.java
  backend/src/main/java/com/fptgang/backend/mapper/ShippingInfoMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/sales/TrendingProductMapper.java
  backend/src/main/java/com/fptgang/backend/repository/VoucherRepos.java
  backend/src/main/java/com/fptgang/backend/service/impl/OrderServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  frontend/README.MD
  frontend/src/components/button/language-selector.tsx
  frontend/src/components/customer/header/Navigation.tsx
  frontend/src/components/customer/header/NotificationPopover.tsx
  frontend/src/components/customer/header/UserMenu.tsx
  frontend/src/components/header/index.tsx
  frontend/src/contexts/api-context 2.tsx
  frontend/src/hooks/useCart.ts
  frontend/src/hooks/useRedux.ts
  frontend/src/hooks/useWallet.ts
  frontend/src/pages/cart/components/CartItemsTable.tsx
  frontend/src/pages/cart/components/OrderSummary.tsx
  frontend/src/pages/cart/components/steps/CartReviewStep.tsx
  frontend/src/pages/cart/components/steps/CheckoutStep.tsx
  frontend/src/pages/cart/components/steps/OrderConfirmationStep.tsx
  frontend/src/pages/cart/components/steps/PaymentMethodStep.tsx
  frontend/src/pages/cart/components/steps/ShippingStep.tsx
  frontend/src/pages/cart/components/steps/VoucherStep.tsx
  frontend/src/pages/cart/index.tsx
  frontend/src/pages/checkout/components/AddressForm.tsx
  frontend/src/pages/checkout/hooks/useCheckoutSubmit.ts
  frontend/src/pages/checkout/index.tsx
  frontend/src/pages/customer/landing/components/brand-showcase.tsx
  frontend/src/pages/customer/landing/components/product-series.tsx
  frontend/src/pages/customer/landing/components/trending-products.tsx
  frontend/src/pages/customer/landing/index.tsx
  frontend/src/pages/customer/landing/nav-bar.tsx
  frontend/src/pages/customer/products/components/ProductCard.tsx
  frontend/src/pages/payment/README 2.md
  frontend/src/pages/payment/VNPayReturnHandler 2.tsx
  frontend/src/store/features/checkout/checkoutSlice.ts
  frontend/src/store/features/order/orderSlice.ts
  frontend/src/store/features/wallet/walletSlice.ts
  frontend/src/store/index.ts
  frontend/src/types 2.ts
  frontend/src/utils/parse-jwt.ts
  frontend/tailwind.config.js
Labels: Feature

#61 CRUD Blindbox ADMIN
  backend/src/main/java/com/fptgang/backend/controller/ImageController.java
  backend/src/main/java/com/fptgang/backend/controller/NotificationController.java
  backend/src/main/java/com/fptgang/backend/mapper/ImageMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/StockKeepingUnitMapper.java
  backend/src/main/java/com/fptgang/backend/model/Image.java
  backend/src/main/java/com/fptgang/backend/service/impl/BlindBoxServiceImpl.java
  frontend/src/App.tsx
  frontend/src/components/customer/header/NotificationPopover.tsx
  frontend/src/pages/accounts/components/ShowAccountDrawer.tsx
  frontend/src/pages/accounts/edit.tsx
  frontend/src/pages/accounts/list.tsx
  frontend/src/pages/blind-boxes/create.tsx
  frontend/src/pages/blind-boxes/edit.tsx
  frontend/src/pages/blind-boxes/list.tsx
  frontend/src/pages/blind-boxes/show.tsx
  frontend/src/providers/live-provider.tsx
  openapi/model/image-blob.yml
  openapi/model/image.yml
Labels: Feature

#62 fix checkout issue
  backend/src/main/java/com/fptgang/backend/controller/VoucherController.java
  frontend/src/App.tsx
  frontend/src/components/customer/header/customer-header.tsx
  frontend/src/pages/checkout/index.tsx
  frontend/src/pages/customer/open/index.tsx
Labels: Feature

#63 update AzureBlob
  backend/src/main/java/com/fptgang/backend/service/AzureBlobService.java
  backend/src/main/java/com/fptgang/backend/service/impl/AzureBlobServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/ImageServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/VideoServiceImpl.java
Labels: Feature

#64 fix vnpay
  backend/src/main/java/com/fptgang/backend/service/impl/OrderServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/TransactionServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/EntityUtil.java
  frontend/src/components/customer/header/NotificationPopover.tsx
  frontend/src/pages/accounts/components/WalletSettings.tsx
  frontend/src/pages/customer/products/components/FilterSidebar.tsx
  frontend/src/providers/data-provider.tsx
Labels: Backend, Fix

#65 SWD-58 CRUD brand(cate)
  backend/src/main/java/com/fptgang/backend/service/impl/AccountServiceImpl.java
  frontend/src/pages/brands/create.tsx
  frontend/src/pages/brands/edit.tsx
  frontend/src/pages/brands/list.tsx
  frontend/src/pages/brands/show.tsx
Labels: Frontend

#69 Base email template
  backend/src/main/java/com/fptgang/backend/mapper/BlindBoxMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/StockKeepingUnitMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/sales/TrendingProductMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/OrderPlacedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/TemplateMapper.java
  backend/src/main/java/com/fptgang/backend/service/EmailService.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/CurrencyUtil.java
  backend/src/main/java/com/fptgang/backend/util/DateTimeUtil.java
  backend/src/main/java/com/fptgang/backend/util/TemplateUtil.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/template/OrderConfirmationTemplate.html
  backend/src/main/resources/template/OrderPlacedEmailTemplate.html
  backend/src/test/java/com/fptgang/backend/TestEmailTemplate.java
  openapi/model/stock-keeping-unit.yml
Labels: Feature

#70 update mail template
  backend/src/main/java/com/fptgang/backend/mapper/template/OrderCancelledEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/OrderDeliveredEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/OrderPaidEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/OrderShippedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/UnpaidOrderEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/VideoSubmittedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/VideoVerifiedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/template/VoucherGiftedEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/service/EmailService.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/resources/template/OrderCancelledEmailTemplate.html
  backend/src/main/resources/template/OrderDeliveredEmailTemplate.html
  backend/src/main/resources/template/OrderPaidEmailTemplate.html
  backend/src/main/resources/template/OrderPlacedEmailTemplate.html
  backend/src/main/resources/template/OrderShippedEmailTemplate.html
  backend/src/main/resources/template/UnpaidOrderPlacedEmailTemplate.html
  backend/src/main/resources/template/VideoSubmittedEmailTemplate.html
  backend/src/main/resources/template/VideoVerifiedEmailTemplate.html
  backend/src/main/resources/template/VoucherGiftedEmailTemplate.html
  backend/src/test/java/com/fptgang/backend/TestEmailTemplate.java
Labels: Backend

#73 add resetPwd
  backend/src/main/java/com/fptgang/backend/mapper/template/ResetPasswordEmailTemplateMapper.java
  backend/src/main/java/com/fptgang/backend/service/EmailService.java
  backend/src/main/java/com/fptgang/backend/service/impl/EmailServiceImpl.java
  backend/src/main/resources/template/ResetPasswordEmailTemplate.html
Labels: Backend

#67 impl customer order
  backend/src/main/java/com/fptgang/backend/controller/OrderController.java
  backend/src/main/java/com/fptgang/backend/controller/TransactionController.java
  backend/src/main/java/com/fptgang/backend/mapper/BlindBoxMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/OrderDetailMapper.java
  backend/src/main/java/com/fptgang/backend/mapper/OrderMapper.java
  backend/src/main/java/com/fptgang/backend/repository/OrderDetailRepos.java
  backend/src/main/java/com/fptgang/backend/service/impl/OrderServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/params/ListParams.java
  frontend/src/components/dashboard/orderTimeline/index.tsx
  frontend/src/components/order/status/index.tsx
  frontend/src/pages/cart/index.tsx
  frontend/src/pages/customer/setting/components/OrderDetailsModal.tsx
  frontend/src/pages/customer/setting/components/OrderStatusBadge.tsx
  frontend/src/pages/customer/setting/components/OrderTable.tsx
  openapi/main.yml
  openapi/path/order-orderId-cancel.yml
  openapi/path/order-orderId-delivered.yml
  openapi/path/order-orderId-ready.yml
  openapi/path/order-orderId-receive.yml
  openapi/path/order-orderId-shipping.yml
  openapi/path/order-orderId.yml
Labels: Feature

#76 Feature/vi openedcase
  .DS_Store
  backend/src/main/java/com/fptgang/backend/controller/SetController.java
  backend/src/main/java/com/fptgang/backend/mapper/SetMapper.java
  backend/src/main/java/com/fptgang/backend/model/checkout/Cart.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/customer/header/CartPopover.tsx
  frontend/src/components/customer/header/Navigation.tsx
  frontend/src/hooks/useCart.ts
  frontend/src/pages/customer/case/CustomerCasesPage.tsx
  frontend/src/pages/customer/case/SetDetailPage.tsx
  frontend/src/pages/customer/landing/index.tsx
  frontend/src/pages/customer/stats/index.tsx
  frontend/src/pages/payment/VNPayReturnHandler 2.tsx
  frontend/src/pages/payment/VNPayReturnHandler.tsx
  frontend/src/store/features/cart/cartSlice.ts
  frontend/src/store/features/set/setSlice.ts
  frontend/src/store/index.ts
  openapi/model/brand.yml
Labels: Feature

#78 Fix API calls loop
  backend/build.gradle
  frontend/src/authProvider.ts
  frontend/src/config/axios-config.ts
  frontend/src/config/openapi-config.tsx
  frontend/src/pages/customer/landing/index.tsx
  frontend/src/pages/customer/stats/index.tsx
Labels: Fix, Feature

#87 fix #85 #83 #82 #81#80 #79
  frontend/src/pages/cart/index.tsx
Labels: Fix

#88 refactor customer order flow
  backend/src/main/java/com/fptgang/backend/controller/OrderController.java
  backend/src/main/java/com/fptgang/backend/service/impl/OrderServiceImpl.java
  frontend/src/pages/checkout/index.tsx
  frontend/src/pages/customer/setting/components/OrderDetailsModal.tsx
Labels: Feature

#89 fix #86
  frontend/src/pages/customer/case/SetDetailPage.tsx
Labels: Fix

#91 currency api
  backend/src/main/java/com/fptgang/backend/service/CurrencyService.java
  backend/src/main/java/com/fptgang/backend/service/impl/CurrencyServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/CurrencyType.java
  backend/src/main/java/com/fptgang/backend/util/CurrencyUtil.java
  backend/src/main/resources/application.properties
Labels: Backend

#93 add global cart bloc
  mobile/android/app/.cxx/Debug/4w3p3j5j/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
  mobile/lib/app/blocs/cart/cart_event.dart
  mobile/lib/app/blocs/cart/cart_global_bloc.dart
  mobile/lib/app/blocs/cart/cart_state.dart
  mobile/lib/app/di/injection.dart
  mobile/lib/app/main.dart
  mobile/lib/feature/auth/login/blocs/login_bloc.dart
  mobile/lib/feature/auth/login/blocs/login_state.dart
  mobile/lib/feature/auth/login/widget/login_button.dart
  mobile/lib/feature/auth/login/widget/login_form.dart
  mobile/lib/feature/cart/cart_screen.dart
  mobile/lib/feature/cart/widget/cart_item.dart
  mobile/lib/feature/detail/blind_box_detail_screen.dart
  mobile/lib/feature/detail/blocs/blindbox_detail_bloc.dart
  mobile/lib/feature/detail/widgets/bottom_action_bar.dart
  mobile/lib/feature/detail/widgets/image_carousel.dart
  mobile/lib/feature/detail/widgets/loading.dart
  mobile/lib/feature/detail/widgets/thumbnails_gallery.dart
  mobile/lib/feature/detail/widgets/type_selector.dart
  mobile/lib/feature/home/blocs/blindbox_list/blindbox_list_bloc.dart
  mobile/lib/feature/home/home_bloc/blindbox_list_state.dart
  mobile/lib/feature/home/home_bloc/blindboxes_event.dart
  mobile/lib/feature/home/home_bloc/home_bloc.dart
  mobile/lib/feature/home/homepage_screen.dart
  mobile/lib/feature/home/widget/new_release_products.dart
  mobile/lib/feature/home/widget/recommended_item.dart
  mobile/lib/feature/search/widget/search_result.dart
Labels: Fix

#96 Add default shipping info
  backend/src/main/java/com/fptgang/backend/mapper/AccountMapper.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  openapi/model/account.yml
Labels: Feature

#95 Sync SBA changes
  .github/workflows/label._yml
  backend/build.gradle
  backend/src/main/java/com/fptgang/backend/controller/OrderController.java
  backend/src/main/java/com/fptgang/backend/exception/RestExceptionHandler.java
  backend/src/main/java/com/fptgang/backend/model/Account.java
  backend/src/main/java/com/fptgang/backend/model/BlindBox.java
  backend/src/main/java/com/fptgang/backend/model/Brand.java
  backend/src/main/java/com/fptgang/backend/model/Order.java
  backend/src/main/java/com/fptgang/backend/model/PromotionalCampaign.java
  backend/src/main/java/com/fptgang/backend/model/Set.java
  backend/src/main/java/com/fptgang/backend/model/ShippingInfo.java
  backend/src/main/java/com/fptgang/backend/model/Slot.java
  backend/src/main/java/com/fptgang/backend/model/StockKeepingUnit.java
  backend/src/main/java/com/fptgang/backend/model/Toy.java
  backend/src/main/java/com/fptgang/backend/model/Video.java
  backend/src/main/java/com/fptgang/backend/security/AppUser.java
  backend/src/main/java/com/fptgang/backend/security/AuthContext.java
  backend/src/main/java/com/fptgang/backend/security/AuthContextImpl.java
  backend/src/main/java/com/fptgang/backend/security/JWTAuthenticationFilter.java
  backend/src/main/java/com/fptgang/backend/security/SecurityConfig.java
  backend/src/main/java/com/fptgang/backend/service/JwtService.java
  backend/src/main/java/com/fptgang/backend/service/RefreshTokenService.java
  backend/src/main/java/com/fptgang/backend/service/impl/JwtServiceImpl.java
  backend/src/main/java/com/fptgang/backend/service/impl/RefreshTokenServiceImpl.java
  backend/src/main/java/com/fptgang/backend/util/SecurityUtil.java
Labels: Feature
